<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="dev.jpeng.rinstaller" />
    </queries>

    <application
        android:label="R Installer test source"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".SelfApkProvider"
            android:authorities="dev.jpeng.rinstaller.fixture.payload"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>
